body{
    color: rgb(189, 77, 57);
}
.main_product{
    width: 25vw;
}
p{
    font-size: 1.75rem;
}
h1{
    font-size: 3rem;
    margin: 10px;
}
label{
    font-size:1.75rem;
}
select{
    font-size: 1.5rem;
    margin: 5px;
}