body{
    color: rgb(189, 77, 57);
}
.main_product{
    min-width: 200px;
    max-width: 400px;
    
}
p{
    /* font-size: 1.75rem; */
    text-size-adjust: 50%;
    margin: 10px;
}
h1{
    font-size: 3rem;
    margin: 10px;
}
label{
    text-size-adjust: 50%;
    margin: 5px;
}
select{
    text-size-adjust: 50%;
    margin: 5px;
}
