body{
    background-color: whitesmoke;
}
.product_image{
    width: 100%;
    height: 100%;
}
.product_box{
    background-color: rgb(189, 77, 57);
    color: white;
    margin: 5px;
    padding: 10px;
    font-size: 1.75rem;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
}
#headerLogo{
    width: 100vw;
    height: 50vh;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
#subHead{
    background-color: rgb(189, 77, 57);
    height: 100px;
}
h1{
    color: rgb(189, 77, 57);
}
h2{
    font-size: 2.5rem;
    color: rgb(189, 77, 57);
}
h3{
    font-size: 2.5rem;
    color: white;
}
.smallImage{
    width: 10px;
}
#headerImageSmall{
    max-height: 300px;
    max-width: 600px;
}