<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Designs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}	
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header">
        <img src="static/css/assets/Untitled-Artwork (1).jpg" alt="French Designs Logo" id="headerLogo">
    </div>
    <div class="container-fluid">
        <div id="subHead" class="row justify-content-around align-content-center align-self-center">
            <a href="/" class="col-1 text-center">Home</a>
            <a href="/earrings" class="col-1 text-center">Earrings</a>
            <a href="/shirts" class="col-1 text-center">Shirts</a>
            <a href="/signs" class="col-1 text-center">Signs</a>
            <a href="#" class="col-1 text-center">Contact</a>
            {% with total_items=cart|length %}
            {% if total_items > 0%}
                <a href="/cart" class="col-1 text-center">Cart ({{total_items}})</a>
            {% else %}
                <a href="/cart" class="col-1 text-center">Cart</a>
            {% endif %}
            {% endwith %}
            <div class="col-1 text-center">
                {% if user %}
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <h2 class="col text-start">{{ product_type }}</h2>
            {% if user %}
                <h2 class="col text-end">Hello {{user.first_name}} </h2>
            {% endif %}
        </div>
        <div class="row justify-content-around align-self-center">
        {% for product in all_products %}
                <div class="text-center col-sm-12 col-md-6 col-lg-3 product_box" >
                    <div class="align-items-center">
                        <a href="/show/product/{{product.id}}">
                            <img src="http://127.0.0.1:8000/media/{{ product.product_image }}" alt="{{ product.name }}" class="img card-img-top product_image col-10" style="max-height: 300px;">
                        </a>
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text">${{product.price}}</p>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>