<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Designs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}	
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header">
        <h1>French Designs</h1>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
    {% for product in all_products %}
            <div class="card-group border-light mb-2 text-center" style="max-width: 15rem;">
                <div class="card">
                    <a href="/show/product/{{product.id}}">
                        <img src="http://127.0.0.1:8000/media/{{ product.product_image }}" alt="{{ product.name }}" class="img-thumbnail card-img-top product_image" style="max: height 15rem;">
                    </a>
                    <p class="card-title">{{product.name}}</p>
                    <p class="card-text">${{product.price}}</p>
                </div>
            </div>
    {% endfor %}
    </div>
</body>
</html>