<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Portal</title>
</head>
<body>
    <form action="/register_owner" method="post">
        {% csrf_token %}
        <label>
            email:
            <input type="email" name="email" id="email">
        </label>
        <label>
            Password:
            <input type="password" name="password" id="password">
        </label>
        <label>
            Confirm Password:
            <input type="password" name="password_confirm" id="password_confirm">
        </label>
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/validate_owner" method="post">
        {% csrf_token %}
        <label>
            Email:
            <input type="email" name="email" id="email">
        </label>
        <label>
            Password:
            <input type="password" name="password" id="password">
        </label>
        <button type="submit">Sign in</button>
    </form>
</body>
</html>