<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
    
    {% load static %}	
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{product.name}}</h1>
        <div class="product_block">
            <img src="http://127.0.0.1:8000/media/{{ product.product_image }}" alt="{{product.name}}" class="product_image">
            <p>{{product.description}}</p>
        </div>
        <div class="product_block">
            <p>${{product.price}}</p>
            {% if product.product_type == "shirt" %}
                <form action="/add_to_cart/{{product.id}}" method="post">
                    <label>
                        Select Size:
                        <select name="size" id="size">
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                            <option value="xl">X-Large</option>
                            <option value="xxl">XX-Large</option>
                        </select>
                    </label>
                    <button type="submit">Add to Cart</button>
                </form>
            {% else %}
                <a href="/add_to_cart/{{product.id}}"><button>Add to Cart</button> </a>
            {% endif %}
        </div>
    </div>
</body>
</html>