<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
    
    {% load static %}	
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_show.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{product.name}}</h1>
        <div class="product_block">
            <img src="http://127.0.0.1:8000/media/{{ product.product_image }}" alt="{{product.name}}" class="product_image">
            <p>{{product.description}}</p>
        </div>
        <p>${{product.price}}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ cart_product_form }}
            <input type="submit" value="Add to Cart">
        </form>
    </div>
</body>
</html>